database/ChatApp.sql
database/ChatApp (ERD).drawio
database/ChatApp (ERD with datatype).drawio
public/js/config.js
log/
.vscode/

/.env
/OtherMaterials.txt
/postgre-client-test.js
/test.js
/Users.txt
/chatapp.auth.noreply.txt
/server.key
/server.cert