<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Trang chủ</title>

    <style>
        body {
            height: 98vh;
        }
    </style>
</head>

<body>
    <% const rootPath = '../'; %>
    <%- include(rootPath + 'partials/admin-navbar.ejs') %>

    <div class="
            container mt-20 mx-auto py-2 w-36
            relative border-2 border-black rounded-lg
            text-center">
        <div class="absolute w-full -mt-6 text-center">
            <div class="mx-auto rounded-lg w-24 text-xl font-bold text-center bg-white">
                Quản lý
            </div>
        </div>
        <button id="home-btn" 
                class="
                    mt-6 mb-2 mx-1 px-2 py-1 flex-shrink-0
                    rounded-lg bg-black shadow-lg
                    font-semibold text-white text-center
                    focus:outline-none
                    transform hover:scale-105
                    transition duration-75
                " onclick="location.href='/admin/home/manage-registatrion'">
            Đăng ký
        </button>
    </div>
</body>

</html>