<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Chat</title>

    <style>
        body {
            height: 98vh;
        }

        ::selection {
            background-color: yellow;
            color: black;
        }

        .inactive {
            background-color: #FFFFFF;
        }

        .active {
            background-color: #E5E7EB;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <div id="home-wrapper" class="container mt-2 mx-auto w-9/12 h-5/6 shadow-md">
        <div class="
                relative float-left 
                border-2 border-black border-r-0
                rounded-tl-lg rounded-bl-lg
                h-full w-1/3
                text-lg font-semibold
        ">
            <div class="
                    absolute w-full py-1 h-10 z-10
                    bg-gray-200 rounded-tl-lg
                    text-lg text-center font-bold">
                Bạn chat
            </div>
            <div id="friends-nav-tab"
                class="
                    h-full w-full pt-10
                    rounded-tl-lg rounded-bl-lg
                    text-lg overflow-auto
                ">
            </div>
        </div>

        <div id="conversation-wrapper" 
            class="flex flex-col justify-between float-right border-2 border-black rounded-tr-lg rounded-br-lg w-2/3 h-full">
            <div id="message-recipient-name-bar" class="py-1 h-12 bg-gray-200 rounded-tr-lg text-xl text-center font-bold">
            </div>
            
            <!-- Conversation messages -->
            <div id="messages-box" class="p-3 relative w-full h-full overflow-auto">
            </div>
            
            <form enctype="multipart/form-data">
                <!-- Message input wrapper-->
                <div id="message-input-wrapper" class="flex justify-evenly items-center w-full">
                    <!-- Text message input -->
                    <input class="
                                ml-2 my-2 px-5 h-10 w-8/12 rounded-full
                                bg-gray-200
                                text-md focus:outline-none
                                " 
                            type="text" id="message-text-input" placeholder="Aa">

                    <!-- Input buttons -->
                    <div class="mx-2 w-4/12 flex justify-end items-center">
                        <!-- Pick image button -->
                        <label for="message-file-input"
                                class="
                                    h-9 w-2/3 mr-1 rounded-lg border-2 border-gray-500
                                    text-center bg-gray-500 text-white text-lg font-semibold
                                    hover:shadow-lg
                                    transform hover:scale-105
                                    transition duration-75
                                    cursor-pointer
                                    ">
                            Chọn ảnh
                        </label>
                        <input type="file" multiple id="message-file-input" class="invisible w-0">

                        <!-- Send button -->
                        <button type="submit" 
                                class="
                                    h-9 w-1/3 ml-1 rounded-lg border-2 border-blue-500 focus:outline-none
                                    text-center bg-blue-500 text-white text-lg font-semibold
                                    hover:shadow-lg
                                    transform hover:scale-105
                                    transition duration-75
                                " 
                                id="message-send-button">
                            Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Images previewing wrapper -->
    <div id="files-preview-wrapper" class="hidden pb-3 mt-3 container flex flex-row mx-auto h-64 w-9/12">
        <!-- Dummy div (used to make UI look good) -->
        <div class="h-full w-1/3">
        </div>
        
        <div class="relative rounded-lg h-full w-2/3 border-2 border-black ">
            <div class="absolute w-full">
                <div 
                    class="
                        mx-auto w-56 px-2 pb-1
                        cursor-pointer rounded-b-lg shadow-lg
                        bg-gray-500 font-semibold text-xl text-center text-white
                        " 
                    onclick="window.scrollTo(0, document.body.scrollHeight);">
                    Xem ảnh trước khi gửi
                </div>
            </div>

            <!-- Images previewing div -->
            <div id="files-preview" class="h-full w-full py-2 flex items-center flex-wrap overflow-auto">
            </div>

            <div class="absolute w-full bottom-0">
                <div
                    id="cancel-files-preview"
                    class="
                        mx-auto mb-1 w-12 px-2
                        cursor-pointer rounded-lg shadow-lg
                        bg-red-600 font-semibold text-lg text-center text-white
                        focus:outline-none
                        transform hover:scale-105
                        transition duration-75
                    ">Hủy
                </div>
            </div>
        </div>
    </div>

    <!-- File message viewer wrapper -->
    <div id="file-message-viewer-wrapper" tabindex="0"
        class="
            flex flex-col select-none
            hidden absolute top-0 w-full h-full z-10
            bg-black text-center text-3xl text-white">

        <div class="relative flex flex-row w-full h-5/6">
            <!-- Previous button -->
            <div class="w-2/12 flex items-center justify-center">
                <img id="back-btn" class="cursor-pointer border-2 border-gray-600 rounded-full transform hover:scale-105 transition duration-75 w-16"
                    src="/imgs/dark-gray-back-icon.png">
            </div>

            <!-- File viewer -->
            <div id="file-message-viewer" class="container flex items-center justify-center pt-8 w-8/12">
                <img class="max-h-full rounded-md" src="" alt="image">
            </div>

            <!-- Next button -->
            <div class="w-2/12 flex items-center justify-center">
                <img id="next-btn" class="cursor-pointer border-2 border-gray-600 rounded-full transform hover:scale-105 transition duration-75 w-16"
                    src="/imgs/dark-gray-next-icon.png">
            </div>

            <!-- Quit button -->
            <div id="quit-btn" class="absolute w-max top-0 right-0 m-3 xl:m-6">
                <img class="cursor-pointer rounded-full w-7 h-7 border border-white transform hover:scale-105 transition duration-75"
                    src="/imgs/quit-icon.png">
            </div>
        </div>
        
        <!-- List of files (images) are going to be viewed -->
        <div id="file-message-list" 
            class="
                whitespace-nowrap overflow-y-auto
                flex flex-nowrap items-center justify-center
                mx-auto w-full h-1/6 text-center">
            
        </div>
    </div>
    

    <script type="module" src="/js/config.js"></script>
    <script src="/js/lib/socket.io.min.js"></script>
    <script type="module" src="/js/home-functions.js"></script>
    <script type="module" src="/js/home.js"></script>
    <script type="module" src="/js/view-file-message.js"></script>
    
</body>

</html>