<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Trang chủ</title>

    <style>
        body {
            height: 98vh;
        }

        ::selection {
            background-color: yellow;
            color: black;
        }

        .inactive {
            background-color: #F9FAFB;
        }

        .active {
            background-color: #E5E7EB;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

    <div id="home-wrapper" class="container mt-2 mx-auto w-10/12 h-5/6">
        <div id="friends-nav-tab"
             class="
                float-left border-2 border-black border-r-0
                rounded-tl-lg rounded-bl-lg
                h-full w-1/3 overflow-auto
                text-lg font-semibold
            ">
        </div>
        <div id="conversation-wrapper" 
            class="flex flex-col justify-between float-right border-2 border-black rounded-tr-lg rounded-br-lg w-2/3 h-full">
            <div id="message-recipient-name-bar" class="py-1 h-12 bg-gray-200 rounded-tr-lg text-xl text-center font-bold">
            </div>
            
            <!-- Conversation messages -->
            <div id="messages-box" class="p-3 relative w-full h-full overflow-auto">
            </div>
            
            <form enctype="multipart/form-data">
                <!-- Message input wrapper-->
                <div id="message-input-wrapper" class="flex justify-evenly items-center w-full">
                    <!-- Text message input -->
                    <input class="
                                ml-2 my-2 px-5 h-10 w-8/12 rounded-full
                                bg-gray-200
                                text-md focus:outline-none
                                " 
                            type="text" id="message-text-input" placeholder="Aa">

                    <!-- Input buttons -->
                    <div class="mx-2 w-4/12 flex justify-end items-center">
                        <!-- Pick image button -->
                        <label for="message-file-input"
                                class="
                                    h-9 w-2/3 mr-1 rounded-lg border-2 border-gray-500
                                    text-center bg-gray-500 text-white text-lg font-semibold
                                    hover:shadow-lg
                                    transform hover:scale-105
                                    transition duration-75
                                    cursor-pointer
                                    ">
                            Chọn ảnh
                        </label>
                        <input type="file" multiple id="message-file-input" class="invisible w-0">

                        <!-- Send button -->
                        <button type="submit" 
                                class="
                                    h-9 w-1/3 ml-1 rounded-lg border-2 border-blue-500 focus:outline-none
                                    text-center bg-blue-500 text-white text-lg font-semibold
                                    hover:shadow-lg
                                    transform hover:scale-105
                                    transition duration-75
                                " 
                                id="message-send-button">
                            Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Images previewing wrapper -->
    <div id="files-preview-wrapper" class="hidden pb-3 mt-3 container flex flex-row mx-auto h-64 w-10/12">
        <!-- Dummy div (used to make UI look good) -->
        <div class="h-full w-1/3">
        </div>
        
        <div class="relative rounded-lg h-full w-2/3 border-2 border-black ">
            <div class="absolute w-full">
                <div 
                    class="
                        mx-auto w-56 px-2 pb-1
                        cursor-pointer rounded-b-lg shadow-lg
                        bg-gray-500 font-semibold text-xl text-center text-white
                        " 
                    onclick="window.scrollTo(0, document.body.scrollHeight);">
                    Xem ảnh trước khi gửi
                </div>
            </div>

            <!-- Images previewing div -->
            <div id="files-preview" class="h-full w-full py-2 flex items-center flex-wrap overflow-auto">
            </div>

            <div class="absolute w-full bottom-0">
                <div
                    id="cancel-files-preview"
                    class="
                        mx-auto mb-1 w-12 px-2
                        cursor-pointer rounded-lg shadow-lg border border-gray-600
                        bg-red-500 font-semibold text-lg text-center text-white
                        focus:outline-none
                        transform hover:scale-105
                        transition duration-75
                    ">
                    Hủy
                </div>
            </div>

            
        </div>
    </div>
    

    <script type="module" src="/js/config.js"></script>
    <script src="/js/lib/socket.io.min.js"></script>
    <script type="module" src="/js/home-functions.js"></script>
    <script type="module" src="/js/home.js"></script>
    
</body>

</html>