<div id="navbar"
    class="container flex flex-row justify-between items-center py-2 mx-auto w-9/12 text-right text-lg font-semibold
    align-center">

    <div id="user-info-wrapper" 
        class="flex justify-evenly items-center cursor-pointer ml-4 p-2 border border-gray-300 shadow-lg rounded-lg bg-gray-200">
        <img id="user-avatar" src=<%= avatarSrc %> alt="avatar"
            class="flex-shrink-0 shadow-md rounded-full h-9 w-9 mr-2">
        <span id="user-info" class="font-bold text-xl" data-user-id=<%= adminID %>>
            <%= adminName %>
        </span>
    </div>

    <div class="mr-4">
        <button id="home-btn" 
                class="
                    mx-1 px-2 py-1 rounded-lg bg-black shadow-lg
                    font-semibold text-white text-center
                    focus:outline-none
                    transform hover:scale-105
                    transition duration-75
                " onclick="location.href='/home';">
            Trang chủ
        </button>
        <button id="logout-btn" 
                class="
                    mx-1 px-2 py-1 rounded-lg bg-red-500 shadow-lg
                    font-semibold text-white text-center
                    focus:outline-none
                    transform hover:scale-105
                    transition duration-75
                " onclick="location.href='/logout'; localStorage.clear();">
            Đăng xuất
        </button>
    </div>
</div>