<div id="navbar"
    class="container select-none flex flex-row justify-between items-center py-2 mx-auto w-9/12 text-right text-lg
    font-semibold
    align-center">

    <div id="user-info-wrapper" 
        class="flex justify-evenly items-center cursor-pointer ml-4 p-2 border border-gray-300 shadow-md rounded-lg bg-gray-200"
        onclick="location.href = '/personal-info';">
        <img id="user-avatar" src=<%= avatarSrc %> alt="avatar"
            class="flex-shrink-0 shadow-md rounded-full h-9 w-9 mr-2">
        <span id="user-info" class="font-bold text-xl" data-user-id=<%= userID %>>
            <%= lastName + ' ' + firstName%>
        </span>
    </div>

    <div class="flex flex-row items-center justify-center mr-4">
        <div id="home-btn" 
            class="
                flex flex-row items-center justify-center
                mx-1 px-2 py-1 rounded-lg bg-black shadow-md
                font-semibold text-white text-center
                cursor-pointer focus:outline-none
                transform hover:scale-105
                transition duration-75
            " onclick="location.href='/home'">
            <img src="/imgs/chat-icon-black-white.png" class="flex-shrink-0 w-6 h-6 rounded-full mr-2">
            <div>Chat</div>
        </div>
        <button id="friend-list-btn" 
                class="
                    mx-1 px-2 py-1 rounded-lg bg-black shadow-md
                    font-semibold text-white text-center
                    focus:outline-none
                    transform hover:scale-105
                    transition duration-75
                " onclick="location.href='/friend-list'">
            Danh sách bạn
        </button>
        <button id="logout-btn" 
                class="
                    mx-1 px-2 py-1 rounded-lg bg-red-500 shadow-md
                    font-semibold text-white text-center
                    focus:outline-none
                    transform hover:scale-105
                    transition duration-75
                " onclick="location.href='/logout'; sessionStorage.clear();">
            Đăng xuất
        </button>
    </div>
</div>